<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITestService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_INotificationService">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1010/TestService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITestService" contract="TestService.ITestService"
                name="BasicHttpBinding_ITestService" />
            <endpoint address="http://localhost:1010/NotificationService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_INotificationService"
                contract="NotificationService.INotificationService" name="WSDualHttpBinding_INotificationService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.0" newVersion="5.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>